.overlay-container-video {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1; 
}

.video-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@font-face {
  font-family: 'troglendemo';
  src: url('/public/Fonts/troglendemo-6ydjx.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'troglendemo';
}