.overlay-container-Welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 95vw;
  top: 30%;
  left: 50%;
  padding: 8px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: #333;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 2;
}

.content-container {
  display: flex;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px; 
}

.text-container p {
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}

.image-container img {
  width: 30vh;
  height: auto;
  border-radius: 3px;
  margin-left: 10px;
  border: solid white 5px;
}
